
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProcessCheckOut</title>
</head>
<body>
   
    <h1>@ViewBag.ac.username</h1>
    <h1>@ViewBag.ac.email</h1>
    <h1>@ViewBag.ac.Adress</h1>
    <h1>location:  @ViewBag.location</h1>
    <h1>payment:  @ViewBag.Payment_COD_or_momo</h1>
    <h1></h1>
    <h1></h1>
    <h1></h1>
</body>
</html>
