
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_User_layout.cshtml";
}


<div class="home-brick-box">

    <div class="product_tabs_slider">
        <div class="box-hd-title clear">
            <a href="/collections/tang-can/">
                <h2 class="title">Tăng Cân test</h2>
            </a>
            <div class="visible-xs toggle-list">
                Nhiều hơn <i class="fa fa-angle-down"></i>
            </div>

            <ul class="tabs tab-list">
                <li class="active" rel="hometab-04">
                    <h3>Tất cả</h3>
                </li>
            </ul>
        </div>

        <div class="row box-bd-content">
            @*Banner cho sản phẩm*@
            <div class="col-lg-3 col-lg-span3 col-xs-12 slider-mobile visibel-xs">


                <div class="list-banner-1 banner-left">
                    <a href="https://ifitness.vn/products/sua-tang-can-tang-co-blade-muscle-maxx-7000g?utm_source=iFitness&amp;utm_medium=Banner&amp;utm_campaign=Home-Left-TangCan&amp;utm_content=BladeMass">
                        <picture>
                            <source media="(max-width: 768px)" srcset="//theme.hstatic.net/1000185761/1000461179/14/tab-banner-4-1-mobile.jpg?v=1826">
                            <source media="(min-width: 769px)" srcset="//theme.hstatic.net/1000185761/1000461179/14/tab-banner-4-1.jpg?v=1826">
                            <img class="lazyload" data-src="//theme.hstatic.net/1000185761/1000461179/14/tab-banner-4-1.jpg?v=1826" alt="Tăng Cân" src="//theme.hstatic.net/1000185761/1000461179/14/tab-banner-4-1.jpg?v=1826">
                        </picture>

                    </a>
                </div>

                <div class="list-banner-2 banner-left">
                    <a href="https://ifitness.vn/products/sua-tang-can-tang-co-muscletech-mass-tech-extreme-2000-10kg?utm_source=iFitness&amp;utm_medium=Banner&amp;utm_campaign=Home-Left-TangCan&amp;utm_content=MassTech10kg">
                        <picture>
                            <source media="(max-width: 768px)" srcset="//theme.hstatic.net/1000185761/1000461179/14/tab-banner-4-2-mobile.jpg?v=1826">
                            <source media="(min-width: 769px)" srcset="//theme.hstatic.net/1000185761/1000461179/14/tab-banner-4-2.jpg?v=1826">
                            <img class="lazyload" data-src="//theme.hstatic.net/1000185761/1000461179/14/tab-banner-4-2.jpg?v=1826" alt="Tăng Cân" src="//theme.hstatic.net/1000185761/1000461179/14/tab-banner-4-2.jpg?v=1826">
                        </picture>
                    </a>
                </div>

            </div>
            @*Danh muc sản phẩm*@
            <div class="col-lg-9 col-lg-span9 col-xs-12 group-pd">
                <div class="row-span">
                    <div class="tab_container">
                        <div class="row_edited content-product-list">
                            <div id="hometab-04" class="tab_content" style="display: block;">
                                <div id="hometab-04_in" class="tabSlide">

                                    @foreach (var product in ViewBag.FeaturedProducts)
                                    {
                                        Product product_ = (Product)product;
                                        var photo = product_.Photoss.SingleOrDefault(p => p.Featured == true);


                                        <div class="col-lg-3 col-sm-4 col-md-4 col-xs-6 pro-loop  ">
                                            <!--sử dụng  -->
                                            <div class="product-block product-resize product-wrapper">
                                                <div class="product-img image-resize view view-third product-image clearfix">

                                                    <div class="product-sale">
                                                        <span><label class="sale-lb">-</label> 19%</span>
                                                    </div>


                                                    <div class="product_gift_label hidden" product-id="1013136782">
                                                        <img alt="icon qua tang" class="gift lazyload" src="//theme.hstatic.net/1000185761/1000461179/14/icon_gift.png?v=1826">
                                                    </div>


                                                    <a asp-controller="home" asp-action="detailProduct" asp-route-id="@product.Id" title="@product.Name">
                                                        <img class="primary-img lazyload" src="~/product/@photo.Name">
                                                    </a>
                                                    <div class="functional-buttons clearfix">
                                                        <div class="cart">
                                                            <a class="btn-buy ajax_add_to_cart_product btn button" data-id="@product.Id">
                                                                <span>
                                                                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                                                    Thêm vào giỏ
                                                                </span>
                                                            </a>
                                                        </div>

                                                        <div class="quickview"><a class="btn-like mask-view quick-view btn btn-outline" href="#" data-id="@product.Id"><i class="fa fa-eye"></i><span>Xem nhanh</span></a></div>
                                                    </div>
                                                </div>
                                                <div class="product-detail clearfix">

                                                    <h3 class="pro-name clearfix"><a href="" title="@product.Name">@product.Name</a></h3>
                                                    <!-- sử dụng pull-right -->
                                                    <div class="content_price">
                                                        <p class="pro-price">@(String.Format("{0:#,##0.##}", product.Price))₫</p>
                                                        <p class="pro-price-del">
                                                            <del class="compare-price">2,700,000₫</del>
                                                        </p>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>



                                    }










                                    <div class="col-lg-3 col-sm-4 col-md-4 col-xs-6 pro-loop  ">
                                        <!--sử dụng  -->
                                        <div class="product-block product-resize product-wrapper">
                                            <div class="product-img image-resize view view-third product-image clearfix">

                                                <div class="product-sale">
                                                    <span><label class="sale-lb">-</label> 19%</span>
                                                </div>




                                                <div class="product_gift_label hidden" product-id="1013136782">
                                                    <img alt="icon qua tang" class="gift lazyload" src="//theme.hstatic.net/1000185761/1000461179/14/icon_gift.png?v=1826">
                                                </div>


                                                <a href="/products/sua-tang-can-tang-co-muscletech-mass-tech-extreme-2000-10kg" title="Sữa tăng cân tăng cơ MuscleTech MassTech Extreme 2000 22lbs (10kg)">
                                                    <img class="primary-img lazyload" data-img="//product.hstatic.net/1000185761/product/mass-tech-extreme-2000-22lbs-triple-chocolate_medium.jpg" alt="MuscleTech Mass-Tech Extreme 2000 10kg" data-src="//product.hstatic.net/1000185761/product/mass-tech-extreme-2000-22lbs-triple-chocolate_medium.jpg" src="//product.hstatic.net/1000185761/product/mass-tech-extreme-2000-22lbs-triple-chocolate_medium.jpg">
                                                </a>
                                                <div class="functional-buttons clearfix">
                                                    <div class="cart">
                                                        <a class="btn-buy ajax_add_to_cart btn button asdasd " data-variant-id="1025370885" data-product-id="1013136782" href="javascript:void(0); ga('send', 'event', 'MuaHang', 'ChoVaoGio', 'DanhMucSanPham');">
                                                            <span>
                                                                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                                                Thêm vào giỏ
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <!--	<button id="buy-now"   class=" btn button ajax_addtocart ">
                                                        <span>Mua ngay</span>
                                                    </button> -->
                                                    <div class="quickview"><a class="btn-like mask-view quick-view btn btn-outline" href="#" data-id="1013136782" data-handle="/products/sua-tang-can-tang-co-muscletech-mass-tech-extreme-2000-10kg"><i class="fa fa-eye"></i><span>Xem nhanh</span></a></div>
                                                </div>
                                            </div>
                                            <div class="product-detail clearfix">

                                                <h3 class="pro-name clearfix"><a href="/products/sua-tang-can-tang-co-muscletech-mass-tech-extreme-2000-10kg" title="Sữa tăng cân tăng cơ MuscleTech MassTech Extreme 2000 22lbs (10kg)">Sữa tăng cân tăng cơ MuscleTech MassTech Extreme 2000 22lbs (10kg) </a></h3>
                                                <!-- sử dụng pull-right -->
                                                <div class="content_price">
                                                    <p class="pro-price">2,200,000₫</p>
                                                    <p class="pro-price-del">
                                                        <del class="compare-price">2,700,000₫</del>
                                                    </p>
                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-sm-4 col-md-4 col-xs-6 pro-loop  ">
                                        <!--sử dụng  -->
                                        <div class="product-block product-resize product-wrapper">
                                            <div class="product-img image-resize view view-third product-image clearfix">

                                                <div class="product-sale">
                                                    <span><label class="sale-lb">-</label> 9%</span>
                                                </div>




                                                <div class="product_gift_label hidden" product-id="1005035596">
                                                    <img alt="icon qua tang" class="gift lazyload" src="//theme.hstatic.net/1000185761/1000461179/14/icon_gift.png?v=1826">
                                                </div>


                                                <a href="/products/sua-tang-can-mass-tech-performance-series-3-18kg" title="Sữa Tăng Cân Mass-Tech Performance Series 3.18kg 3 mùi">
                                                    <img class="primary-img lazyload" data-img="//product.hstatic.net/1000185761/product/masstech-milk-choco-7lb_medium.jpg" alt="Mass Tech Performance Series Milk Chocolate 3.18kg" data-src="//product.hstatic.net/1000185761/product/masstech-milk-choco-7lb_medium.jpg" src="//product.hstatic.net/1000185761/product/masstech-milk-choco-7lb_medium.jpg">
                                                </a>
                                                <div class="functional-buttons clearfix">
                                                    <div class="cart">
                                                        <a class="btn-buy ajax_add_to_cart btn button asdasd " data-variant-id="1013818560" data-product-id="1005035596" href="javascript:void(0); ga('send', 'event', 'MuaHang', 'ChoVaoGio', 'DanhMucSanPham');">
                                                            <span>
                                                                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                                                Thêm vào giỏ
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <!--	<button id="buy-now"   class=" btn button ajax_addtocart ">
                                                        <span>Mua ngay</span>
                                                    </button> -->
                                                    <div class="quickview"><a class="btn-like mask-view quick-view btn btn-outline" href="#" data-id="1005035596" data-handle="/products/sua-tang-can-mass-tech-performance-series-3-18kg"><i class="fa fa-eye"></i><span>Xem nhanh</span></a></div>
                                                </div>
                                            </div>
                                            <div class="product-detail clearfix">

                                                <h3 class="pro-name clearfix"><a href="/products/sua-tang-can-mass-tech-performance-series-3-18kg" title="Sữa Tăng Cân Mass-Tech Performance Series 3.18kg 3 mùi">Sữa Tăng Cân Mass-Tech Performance Series 3.18kg 3 mùi </a></h3>
                                                <!-- sử dụng pull-left -->
                                                <div class="content_price">
                                                    <p class="pro-price">1,320,000₫</p>
                                                    <p class="pro-price-del">
                                                        <del class="compare-price">1,450,000₫</del>
                                                    </p>
                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-sm-4 col-md-4 col-xs-6 pro-loop  ">
                                        <!--sử dụng  -->
                                        <div class="product-block product-resize product-wrapper">
                                            <div class="product-img image-resize view view-third product-image clearfix">

                                                <div class="product-sale">
                                                    <span><label class="sale-lb">-</label> 19%</span>
                                                </div>




                                                <div class="product_gift_label hidden" product-id="1013136782">
                                                    <img alt="icon qua tang" class="gift lazyload" src="//theme.hstatic.net/1000185761/1000461179/14/icon_gift.png?v=1826">
                                                </div>


                                                <a href="/products/sua-tang-can-tang-co-muscletech-mass-tech-extreme-2000-10kg" title="Sữa tăng cân tăng cơ MuscleTech MassTech Extreme 2000 22lbs (10kg)">
                                                    <img class="primary-img lazyload" data-img="//product.hstatic.net/1000185761/product/mass-tech-extreme-2000-22lbs-triple-chocolate_medium.jpg" alt="MuscleTech Mass-Tech Extreme 2000 10kg" data-src="//product.hstatic.net/1000185761/product/mass-tech-extreme-2000-22lbs-triple-chocolate_medium.jpg" src="//product.hstatic.net/1000185761/product/mass-tech-extreme-2000-22lbs-triple-chocolate_medium.jpg">
                                                </a>
                                                <div class="functional-buttons clearfix">
                                                    <div class="cart">
                                                        <a class="btn-buy ajax_add_to_cart btn button asdasd " data-variant-id="1025370885" data-product-id="1013136782" href="javascript:void(0); ga('send', 'event', 'MuaHang', 'ChoVaoGio', 'DanhMucSanPham');">
                                                            <span>
                                                                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                                                Thêm vào giỏ
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <!--	<button id="buy-now"   class=" btn button ajax_addtocart ">
                                                        <span>Mua ngay</span>
                                                    </button> -->
                                                    <div class="quickview"><a class="btn-like mask-view quick-view btn btn-outline" href="#" data-id="1013136782" data-handle="/products/sua-tang-can-tang-co-muscletech-mass-tech-extreme-2000-10kg"><i class="fa fa-eye"></i><span>Xem nhanh</span></a></div>
                                                </div>
                                            </div>
                                            <div class="product-detail clearfix">

                                                <h3 class="pro-name clearfix"><a href="/products/sua-tang-can-tang-co-muscletech-mass-tech-extreme-2000-10kg" title="Sữa tăng cân tăng cơ MuscleTech MassTech Extreme 2000 22lbs (10kg)">Sữa tăng cân tăng cơ MuscleTech MassTech Extreme 2000 22lbs (10kg) </a></h3>
                                                <!-- sử dụng pull-right -->
                                                <div class="content_price">
                                                    <p class="pro-price">2,200,000₫</p>
                                                    <p class="pro-price-del">
                                                        <del class="compare-price">2,700,000₫</del>
                                                    </p>
                                                </div>


                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-sm-4 col-md-4 col-xs-6 pro-loop  ">
                                        <!--sử dụng  -->
                                        <div class="product-block product-resize product-wrapper">
                                            <div class="product-img image-resize view view-third product-image clearfix">

                                                <div class="product-sale">
                                                    <span><label class="sale-lb">-</label> 9%</span>
                                                </div>




                                                <div class="product_gift_label hidden" product-id="1005035596">
                                                    <img alt="icon qua tang" class="gift lazyload" src="//theme.hstatic.net/1000185761/1000461179/14/icon_gift.png?v=1826">
                                                </div>


                                                <a href="/products/sua-tang-can-mass-tech-performance-series-3-18kg" title="Sữa Tăng Cân Mass-Tech Performance Series 3.18kg 3 mùi">
                                                    <img class="primary-img lazyload" data-img="//product.hstatic.net/1000185761/product/masstech-milk-choco-7lb_medium.jpg" alt="Mass Tech Performance Series Milk Chocolate 3.18kg" data-src="//product.hstatic.net/1000185761/product/masstech-milk-choco-7lb_medium.jpg" src="//product.hstatic.net/1000185761/product/masstech-milk-choco-7lb_medium.jpg">
                                                </a>
                                                <div class="functional-buttons clearfix">
                                                    <div class="cart">
                                                        <a class="btn-buy ajax_add_to_cart btn button asdasd " data-variant-id="1013818560" data-product-id="1005035596" href="javascript:void(0); ga('send', 'event', 'MuaHang', 'ChoVaoGio', 'DanhMucSanPham');">
                                                            <span>
                                                                <i class="fa fa-cart-plus" aria-hidden="true"></i>
                                                                Thêm vào giỏ
                                                            </span>
                                                        </a>
                                                    </div>
                                                    <!--	<button id="buy-now"   class=" btn button ajax_addtocart ">
                                                        <span>Mua ngay</span>
                                                    </button> -->
                                                    <div class="quickview"><a class="btn-like mask-view quick-view btn btn-outline" href="#" data-id="1005035596" data-handle="/products/sua-tang-can-mass-tech-performance-series-3-18kg"><i class="fa fa-eye"></i><span>Xem nhanh</span></a></div>
                                                </div>
                                            </div>
                                            <div class="product-detail clearfix">

                                                <h3 class="pro-name clearfix"><a href="/products/sua-tang-can-mass-tech-performance-series-3-18kg" title="Sữa Tăng Cân Mass-Tech Performance Series 3.18kg 3 mùi">Sữa Tăng Cân Mass-Tech Performance Series 3.18kg 3 mùi </a></h3>
                                                <!-- sử dụng pull-left -->
                                                <div class="content_price">
                                                    <p class="pro-price">1,320,000₫</p>
                                                    <p class="pro-price-del">
                                                        <del class="compare-price">1,450,000₫</del>
                                                    </p>
                                                </div>


                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div id="quick-view-modal" class="modal fade hidden-xs" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="quickview_content wrapper-quickview">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><a aria-hidden="true"></a></button>
                <div class="modal-header">
                    <h4 class="p-title modal-title" id="productDescript" data-href="/products/vien-uong-tang-cuong-hoc-mon-dhea-100-vien">
                        Viên Uống Tăng Cường Hóc Môn DHEA 100 viên
                    </h4>

                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                <div id="surround-qv">

                                    <div class="product-sale-qv">
                                        <span>
                                            <label class="sale-lb">Sale </label>

                                        </span>
                                    </div>


                                    <a class="slide-prev-qv slide-nav" href="javascript:">
                                        <i class="fa fa-arrow-circle-o-left fa-2"></i>
                                    </a>
                                    <a class="slide-next-qv slide-nav" href="javascript:">
                                        <i class="fa fa-arrow-circle-o-right fa-2"></i>
                                    </a>
                                    <img class="product-image-feature-qv" src="//product.hstatic.net/1000185761/product/ultimate-nutrition-dhea-25mg-100-capsule_master.jpg" alt="Viên Uống Tăng Cường Hóc Môn DHEA 100 viên">

                                    <div id="sliderproduct-qv" class="">
                                        <ul class="slides-qv">

                                            <li class="product-thumb-qv">
                                                <a href="javascript:" data-image="//product.hstatic.net/1000185761/product/dhea25mg100cap_0dd53a778e0e4e908b1a6f4590acfe20_master.jpg" data-zoom-image="//product.hstatic.net/1000185761/product/dhea25mg100cap_0dd53a778e0e4e908b1a6f4590acfe20_master.jpg">
                                                    <img alt="Viên Uống Tăng Cường Hóc Môn DHEA 100 viên" data-image="//product.hstatic.net/1000185761/product/dhea25mg100cap_0dd53a778e0e4e908b1a6f4590acfe20_master.jpg" src="//product.hstatic.net/1000185761/product/dhea25mg100cap_0dd53a778e0e4e908b1a6f4590acfe20_thumb.jpg">
                                                </a>
                                            </li>

                                        </ul>
                                    </div>



                                </div>
                                <div id="buyxgety-program-qv" class="hidden">
                                    <h3 id="buyxgety-title">
                                        <div>
                                            <i class="fa fa-gift"></i>Quà tặng - Khuyến mãi
                                        </div>
                                    </h3>
                                    <div id="buyxgety-product-list" data-id="1005701396" data-title="Viên Uống Tăng Cường Hóc Môn DHEA 100 viên">
                                        <table></table>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                <div class="product-vendor  "><b><a href="/collections/">Ultimate Nutrition</a></b></div>
                                <div id="pro_sku_qv" class="product-sku">SKU: SMUN030</div>
                                <div class="product-type"><i class="fa fa-tags"></i> <b>Loại : <a title="Show type" href="/collections/types?q=vien">Viên</a></b></div>
                                <div class="goods-subtitle" itemprop="description">

                                    <ul>
                                        <li><strong>Viên uống tăng cường hocmon DHEA</strong> giúp cân bằng nội tiết và cải thiện sinh lý nữ</li>

                                    </ul>
                                    <p>
                                    </p>
                                </div>
                                <div class="product-price-p20 row">
                                    <div class="product-price col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding" id="price-preview-qv"><span id="productPrice">456,000₫</span><del>480,000₫</del></div>

                                    <div class="pt-sale-qv col-lg-12 col-md-12 col-sm-12 col-xs-12 nopadding">Tiết kiệm : <span id="price-tk">24,000₫ (-5%)</span></div>
                                </div>



                                <form id="add-item-form" action="/cart/add" method="post" class="variants clearfix">
                                    <div class="select-swatch-qv">



















                                        <div id="variant-swatch-0" class="swatch clearfix" data-option="option1" data-option-index="0">
                                            <div class="header">

                                                Chọn kích thước

                                            </div>
                                            <div class="select-swap">







                                                <div data-value="100 Viên" class="n-sd swatch-element 100-vien ">
                                                    <input class="variant-0" id="swatch-0-100-vien" type="radio" name="option1" data-value="100-vien" value="100 Viên" checked="">


                                                    <label for="swatch-0-100-vien" data-variant="100-vien" class="sd">
                                                        100 Viên
                                                        <img class="crossed-out" src="//theme.hstatic.net/1000185761/1000461179/14/soldout.png?v=1827">
                                                        <img class="img-check" src="//theme.hstatic.net/1000185761/1000461179/14/select-pro.png?v=1827">
                                                    </label>

                                                </div>


                                            </div>
                                        </div>




                                    </div>

                                    <div class="select clearfix">
                                        <div class="selector-wrapper"><label>Kích thước</label><span class="select-swap"><select class="single-option-selector select-swap" data-option="option1" id="product-select-qv-option-0"><option value="100 Viên">100 Viên</option></select></span></div><select id="product-select-qv" data-productid="1005701396" name="id" style="display:none">

                                            <option value="1013695219">100 Viên - 456,000₫</option>

                                        </select>
                                    </div>

                                    <div class="product_button">
                                        <div class="clearfix">
                                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 nopadding">
                                                <div class="quantity qty-custom clearfix ">
                                                    <label for="Quantity" class="quantity-selector left">Số lượng</label>
                                                    <div class="quantity-box left">
                                                        <select id="qv-quantity" name="quantity" class="qv-quantity-selector">

                                                            <option value="1">1</option>

                                                            <option value="2">2</option>

                                                            <option value="3">3</option>

                                                            <option value="4">4</option>

                                                            <option value="5">5</option>

                                                            <option value="6">6</option>

                                                            <option value="7">7</option>

                                                            <option value="8">8</option>

                                                            <option value="9">9</option>

                                                            <option value="10">10</option>

                                                            <option value="11">11</option>

                                                            <option value="12">12</option>

                                                            <option value="13">13</option>

                                                            <option value="14">14</option>

                                                            <option value="15">15</option>

                                                            <option value="16">16</option>

                                                            <option value="17">17</option>

                                                            <option value="18">18</option>

                                                            <option value="19">19</option>

                                                            <option value="20">20</option>

                                                            <option value="21">21</option>

                                                            <option value="22">22</option>

                                                            <option value="23">23</option>

                                                            <option value="24">24</option>

                                                            <option value="25">25</option>

                                                            <option value="26">26</option>

                                                            <option value="27">27</option>

                                                            <option value="28">28</option>

                                                            <option value="29">29</option>

                                                            <option value="30">30</option>

                                                            <option value="31">31</option>

                                                            <option value="32">32</option>

                                                            <option value="33">33</option>

                                                            <option value="34">34</option>

                                                            <option value="35">35</option>

                                                            <option value="36">36</option>

                                                            <option value="37">37</option>

                                                            <option value="38">38</option>

                                                            <option value="39">39</option>

                                                            <option value="40">40</option>

                                                            <option value="41">41</option>

                                                            <option value="42">42</option>

                                                            <option value="43">43</option>

                                                            <option value="44">44</option>

                                                            <option value="45">45</option>

                                                            <option value="46">46</option>

                                                            <option value="47">47</option>

                                                            <option value="48">48</option>

                                                            <option value="49">49</option>

                                                            <option value="50">50</option>

                                                        </select>


                                                    </div>
                                                </div>
                                            </div>


                                            <div class="check_ch">
                                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 nopadding">
                                                    <div class="btn-cart-products">
                                                        <button id="buy-now-qv" type="button" onclick="BuyNowProductQuickView(); ga('send', 'event', 'MuaHang', 'MuaNgay', 'ChiTietSanPham');" class="btn-detail btn-color-buy btn-min-width btn-mgt">
                                                            Mua ngay
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 nopadding">
                                                    <button id="add-to-cart-qv" type="button" onclick="AddCartProductQuickView(); ga('send', 'event', 'MuaHang', 'ChoVaoGio', 'XemNhanhSanPham');" class="btn-detail btn-color-add btn-min-width btn-mgt" name="add">
                                                        Cho vào giỏ hàng
                                                    </button>
                                                </div>
                                            </div>


                                        </div>

                                    </div>
                                </form>

                                <div class="wrapper-deatil hidden" tabindex="-1" role="dialog" id="combo-popup">
                                    <div class="container" role="document">
                                        <div class="row">
                                            <div class="title-combo">
                                                <h2>MUA COMBO GIÁ RẺ HƠN</h2>
                                            </div>
                                            <div class="combo-body">
                                                <div id="combo-program" data-id="1005701396" data-title="Viên Uống Tăng Cường Hóc Môn DHEA 100 viên"></div>
                                            </div>
                                            <div class="combo-footer"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="haravan-promotion clone">
                                    <div>
                                        <label class="combo-product" data-pid="" data-countbuy="" data-id="">
                                            <div class="text-center">
                                                <img class="combo-img" src="">
                                            </div>
                                            <p class="discount-promotion-title"><b></b></p>
                                            <p class="discount-promotion-price">
                                                <b></b>
                                                <del></del>
                                            </p>
                                            <p></p>
                                        </label>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>
</div>

<script>
    $(document).on("click", '.quick-view', function (e) {
        var temp = $(this).data('id');
        alert(temp);


        $.ajax({
            url: 'Home/Details',
            data: { id: $(this).data('id') },
            type: 'post',
            success: function (data) {
                console.log(data);
                console.log(data.lsProduct.description);
                $('#productDescript').text(data.lsProduct.name);
                $('#productPrice').text(data.lsProduct.price);
            }
        });

        $('#quick-view-modal').modal('show');
    });
    $(document).on("click", '.remove_item', function (e) {
        var temp = $(this).data('id');
        $.ajax({
            url: 'Cart/RemoveItem',
            data: { id: temp },
            type: 'post',
            success: function (data) {
                var total = 0;
                if (data.carts.length != 0) {
                    $.each(data.carts, function (index, item) {
                        total += item.quantity * item.price;
                    });

                    var str = '#item_cart_' + temp;
                    $(str).remove();
                    $('#total_entire_product').text(total);
                    
                }
                else {
                    var str = '';
                    str+='<div class="cart_content hidden-xs">                                                                  ';
                    str+='    <div style="padding:0 20px;">                                                                     ';
                    str+='        <p style="margin:0" class="text-center">Giỏ hàng của bạn đang trống</p>                       ';
                    str+='        <p class="text-center"><a asp-controller="home" asp-action="index">Tiếp tục mua hàng</a></p>  ';
                    str+='    </div>                                                                                            ';
                    str += '</div>                                                                                               ';
                    $('.cart_content').remove();
                    $('.show_lsProduct').empty();
                    $('.show_lsProduct').append(str);
                }
                $('.ajax_cart_quantity').text(data.carts.length);
            }
        })
    });

    $(document).on("click", '.ajax_add_to_cart_product', function (e) {
        $.ajax({
            url: 'Cart/AddToCart',
            data: { id: $(this).data('id') },
            type: 'post',
            success: function (data) {
                console.log(data);
                var str = '<div class="cart_content hidden-xs" id="view-cart">';
                var total = 0;
                $.each(data.carts, function (index, item) {

                    console.log(item);
                    total = item.price * item.quantity;
                    str+='        <div class="item-cart clearfix" id="item_cart_'+item.id+'">                                                                                                              ';
                    str+='            <div class="nav-bar-item">                                                                                                                ';
                    str+='                <figure class="image-cart ">                                                                                                          ';
                    str+='                    <a asp-action="detailProduct" asp-controller="home">                                                                              ';
                    str+='                        <img src="/product/'+ item.pathPhoto +  '">                                                                                   ';
                    str+='                    </a>                                                                                                                              ';
                    str+='                </figure>                                                                                                                             ';
                    str+='                <div class="text_cart">                                                                                                               ';
                    str+='                    <h4>                                                                                                                              ';
                    str+='                        <a asp-action="detailProduct" asp-controller="home">'+item.name+'</a>                                                            ';
                    str+='                    </h4>                                                                                                                             ';
                    str+='                    <div class="price-line">                                                                                                          ';
                    str += '                        <div class="down-case">' + item.quantity+'  x <span class="new-price">'+ item.price +' ₫  </span></div> ';
                    str+='                    </div>                                                                                                                            ';
                    str+='                </div>                                                                                                                                ';
                    str+='                <span class="remove_link">                                                                                                            ';
                    str+='                    <a class="remove_item" data-id="'+item.id+'" ><i class="fa fa-times-circle"></i></a>                  ';
                    str+='                </span>                                                                                                                               ';
                    str+='            </div>                                                                                                                                    ';
                    str+='        </div>                                                                                                                                        ';

                });
                                                                                                                                        
                  str+='                                                                                                                                                      ';
                  str+='    <div class="text-mini-cart">                                                                                                                      ';
                  str+='        <span class=" text-left">Tổng tiền:</span>                                                                                                    ';
                  str+='        <span class="cart_block_total" id="total_entire_product">'+ total + '  ₫</span>                                                                                         ';
                  str+='    </div>                                                                                                                                            ';
                  str+='    <div class="cart-check-mini">                                                                                                                     ';
                  str+='        <a class="button-small" href="/checkout">                                                                                                     ';
                  str+='            <span>                                                                                                                                    ';
                  str+='                Thanh toán <i class="fa fa-chevron-right"></i>                                                                                        ';
                  str+='            </span>                                                                                                                                   ';
                  str+='        </a>                                                                                                                                          ';
                  str+='        <a asp-action="index" asp-controller="cart" type="button" class="btn btn--full cart__shoppingcart" name="shoppingCart">                       ';
                  str+='            Vào giỏ hàng →                                                                                                                            ';
                  str+='        </a>                                                                                                                                          ';
                  str+='    </div>                                                                                                                                            ';
                  str+='                                                                                                                                                      ';
                  str += '</div>                                                                                                                                              ';

                $('.cart_content').remove();
                $('.show_lsProduct').empty();
                $('.show_lsProduct').append(str);
                $('.ajax_cart_quantity').text(data.carts.length);
            }
        });

    });

</script>


